$font-stack: "DM Mono", monospace;
$color-dark: #17141d;

body {
  padding: 0;
  margin: 0;
  background-color: $color-dark;
  color: white;
  font-family: $font-stack;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(
      90deg,
      #201c29,
      #201c29 1px,
      #17141d 0,
      #17141d
    );
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  background-color: $color-dark;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem black;
  transition: 0.2s;

  &:hover {
    transform: translateY(-1rem);

    & ~ .card {
      transform: translateX(130px);
    }
  }

  &:not(:first-child) {
    margin-left: -130px;
  }
}
