:root {
  --color-dark: #17141d;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-dark);
  color: white;
  font-family: "DM Mono", monospace;
}

.card-list {
  display: flex;
  padding: 3rem;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  box-shadow: -1rem 0 3rem black;
}
